.hamburger {
    position: fixed;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 36px;
    height: 21px;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;
        transition: 0.3s all;
        border-radius: 10px;
        &:nth-child(2) {
            width: 36px;
        }
    }
    &:hover {
        span {
            transform: scale(1.2);
            background-color: #fff;
        }
    }
}